node_modules
.DS_Store
dist
dist-ssr
*.local
coverage
.eslintcache
pnpm-lock.yaml
*.log
*.config
.github
vite.config.ts
tsconfig.json
tailwind.config.js
postcss.config.js
package.json
package-lock.json
license
jest.config.js
SECURITY.md
prettierrc.json
.prettierignore
.lintstagedrc.json
.eslintrc.json
.eslintignore
.editorconfig
.commitlintrc.json
.vscode
