.form {
  margin-bottom: 100px;
  padding: 0 16px;

  &__container {
    margin: 0 auto;
    max-width: 328px;

    @media (min-width: $break-point1) {
      max-width: 380px;
    }
  }

  &__contact-details {
    margin-bottom: 29px;
  }

  &__input-container {
    margin-bottom: 20px;
  }

  &__input-phone .input {
    margin: 0;
  }

  &__input-phone-hint {
    font-size: 12px;
    line-height: 14px;
    color: $placeholder;
  }

  &__position {
    margin-bottom: 47px;
  }

  &__radio {
   display: flex;
   align-items: center;
   gap: 12px;
  }

  &__photo-container {
    // margin-bottom: 50px;
    width: 100%;
    display: flex;
  }

  &__file {
    display: inline-block;
    width: 83px;
    height: 54px;
    padding: 15px;

    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
  }

  &__position-title {
    margin-bottom: 11px;

    font-size: $text-size;
    line-height: $text-lh-size-1;
  }

  &__submit {
    @extend %flex-center;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }

  .legend-title {
    position: absolute;
    top: -7px;
    left: 12px;
    padding: 0 4px;

    font-size: $text-size-legend;
    font-weight: 500;
    line-height: $text-lh-legend;
    color: $error-color;
    background-color: $bg-color;
  }

  // .input {
  //   padding: 16px 14px;

  //   height: 54px;
  //   width: 100%;
  //   border: 1px solid #d0cfcf;
  //   border-radius: 4px;
  //   background-color: $bg-color;

  //   &::placeholder {
  //     color: $placeholder;
  //   }

  //   &--file {
  //     border-left: none;
  //     border-radius: 0 4px 4px 0;

  //     input &:focus {
  //       outline-color: none;
  //     }
  //   }

  //   &--loaded::placeholder {
  //     color: $color-dark;
  //   }
  // }

  .positions {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}
