.user-card {
  // margin-bottom: 20px;
  @extend %flex-center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-basis: 100%;
  flex-grow: 1;

  font-size: $text-size;
  line-height: $text-lh-size-1;
  background-color: $color-light;
  border-radius: 10px;

  @media (min-width: $break-point1) {
    flex-basis: calc(50% - 8px);
  }

  @media (min-width: $break-point2) {
    max-width: 282px;
  }

  @media (min-width: $break-point3) {
    max-width: 370px;
  }

  &__photo-img {
    border-radius: 50%;
  }

  &__email {
    position: relative;
  }

  .tooltip {
    position: absolute;
    left: 25px;
    padding: 3px 16px;
  
    font-size: $text-lh-size-2;
    line-height: $text-lh-size-1;
    border-radius: 4px;
    background-color: $color-dark;
    color: $color-light;
    word-break: keep-all;
  }
}
