$main-font-family: 'Nunito', sans-serif;
$main-font-style: 400;
$heading-size: 40px;
$heading-lh-size: 40px;
$text-size: 16px;
$text-size-legend: 12px;
$text-lh-legend: 14px;
$text-lh-size-1: 26px;
$text-lh-size-2: 16px;

$bg-color: #f8f8f8;
$color-dark: #000000de;
$color-light: #fff;
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$unchecked-color: #d0cfcf;
$button-hover: #ffe302;
$button-disabled: #b4b4b4;
$placeholder: #7e7e7e;
$error-color: #CB3D40;

$card-padding: 20px;
