html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 360px;

  font-family: $main-font-family;
  font-weight: $main-font-style;
  color: $color-dark;
  background-color: $bg-color;
}

.title {
  margin-bottom: 50px;
  
  text-align: center;
  font-style: normal;
  font-size: $heading-size;
  line-height: $heading-lh-size;
}

.loader {
  background-color: $secondary-color;
}

.success {
  margin-bottom: 100px;
  @extend %flex-center;
  flex-direction: column;
  padding: 0 16px;

  &__title {
    margin-bottom: 50px;
  }
}