.user-card, .testimonials__users, .banner, .header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
  min-width: 360px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8705882353);
  background-color: #f8f8f8;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.loader {
  background-color: #00bdd3;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  background-color: #fff;
}
.header .logo-container {
  max-width: 104px;
  flex-basis: 30%;
  gap: 2px;
  padding: 4px 0;
  text-transform: uppercase;
}
.header .logo {
  width: 40px;
  height: 100%;
}
.header .logo__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .logo__text {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 14px;
}
.header .navigation {
  display: flex;
  gap: 10px;
}

.banner {
  margin-bottom: 140px;
  flex-direction: column;
  padding: 0 16px;
  height: calc(100vh - 60px);
  color: #fff;
  background-image: url(../../../public/ukraine-360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__title {
  margin-bottom: 21px;
}
.banner__text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;
}

.button {
  width: 100px;
  height: 34px;
  font-size: 16px;
  line-height: 26px;
  background-color: #f4e041;
  border-radius: 80px;
}
.button--yellow {
  color: rgba(0, 0, 0, 0.8705882353);
}

.testimonials {
  margin-bottom: 140px;
  padding: 0;
}
.testimonials__title {
  word-break: normal;
}
.testimonials__users {
  padding: 0 16px;
  flex-direction: column;
  gap: 20px;
  word-break: break-all;
}

.user-card {
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 10px;
}
.user-card:last-of-type {
  margin-bottom: 30px;
}
.user-card__photo-img {
  border-radius: 50%;
}

.form {
  padding: 0 16px;
}
.form__contact-details {
  margin-bottom: 29px;
}
.form__text-input {
  margin-bottom: 50px;
}
.form__input-phone .input {
  background-color: red;
  margin: 0;
}
.form__input-phone-hint {
  font-size: 12px;
  line-height: 14px;
  color: #7e7e7e;
}
.form .input {
  padding: 16px 14px;
  height: 54px;
  width: 100%;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.form .input::placeholder {
  color: #7e7e7e;
}
.form__position-title {
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 26px;
}
.form .positions {
  display: flex;
  flex-direction: column;
}

.radio + label {
  display: inline-block;
  position: relative;
  padding-left: 25px; /* Adjust as needed */
  cursor: pointer;
}

.radio + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
  border-radius: 50%;
  border: 2px solid #aaa; /* Adjust border color */
  background-color: #fff; /* Adjust background color */
}

/*# sourceMappingURL=style.css.map */
