.testimonials {
  margin-bottom: 140px;
  @extend %flex-center;
  flex-direction: column;
  padding: 0;

  &__title {
    word-break: normal;
  }

  &__users {
    margin-bottom: 30px;
    display: flex;
    
    flex-wrap: wrap;
    padding: 0 16px;
    word-break: break-all;

    @media (min-width: $break-point1) {
      gap: 16px;
    }

    @media (min-width: $break-point2) {
      gap: 29px;
    }
  }
}
