.testimonials {
  margin-bottom: 140px;
  padding: 0;

  &__title {
    word-break: normal;
  }

  &__users {
    padding: 0 16px;
    @extend %flex-center;
    flex-direction: column;
    gap: 20px;

    word-break: break-all;
  }
}
